.carousel {
    position: relative;
    width: 1000px;        
    height: 400px;       
    margin: 20px auto;
    overflow: hidden;
    background: rgb(245, 176, 246);
    border-radius: 10px; 
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease;
    height: 100%;       
}

.carousel img {
    width: 100%;         
    height: 100%;        
    object-fit: cover;   
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.3); 
    color: rgb(249, 160, 206);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev { left: 10px; }
.next { right: 10px; }