
#cartItems img {
    width: 50px;       
    height: 50px;      
    object-fit: cover; 
    margin-right: 10px;
    border-radius: 4px;
    vertical-align: middle;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-item span {
    flex: 1;
    margin-left: 10px;
}